# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
okr2go
okr2go.exe
*.zip
debug

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log
okr2go.log
