<div class="list-group">
    <div class="list-group-item" *ngFor="let entry of objectives | keyvalue">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ entry.value.name }}</h5>
            <div><span class="badge badge-primary badge-pill">{{ entry.value.keyResults?.length }} key result(s)</span>
            </div>
        </div>
        <p class="mb-1">{{ entry.value.description }} </p>
        <table class="table">
            <tbody>
                <tr *ngFor="let keyResult of entry.value.keyResults">
                    <th scope="row">{{ keyResult.id }}</th>
                    <td>{{ keyResult.name }}</td>
                    <td>
                        <ngb-progressbar class="mt-auto mb-auto" type="info"
                            [value]="keyResult.current / keyResult.target * 100">Current
                            progress
                            is
                            <b>{{ keyResult.current }} /
                                {{ keyResult.target }}</b>...</ngb-progressbar>
                    </td>
                    <td>{{ keyResult.contributors.join(', ') }}</td>
                    <td>{{ keyResult.comments.join(', ')}}</td>
                </tr>
            </tbody>
        </table>
        <small>Still working hard</small>
    </div>
</div>